@charset "utf-8";

/*
 * object/components/_heading
 */
.c-ttl-h2,
.c-ttl-h3,
.c-ttl-h4 {
  position: relative;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
}

.c-ttl-h2 {
  width: 100%;
  margin-bottom: 20px;
  padding: 18px;
  background-color: #f8f8f8;
  border-left: 8px solid #656565;
  font-size: 26px;
}

.c-ttl-h3 {
  margin-bottom: 30px;
  padding-left: 6px;
  border-left: 6px solid #656565;
  color: #333;
  font-size: 21px;
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -6px;
    width: 100.6%;
    height: 11px;
    border-bottom: 1px solid #ddd;
  }
}

.c-ttl-h4 {
  font-size: 18px;
  margin-bottom: 20px;
}